<body>
  <mat-toolbar color="">
      <span style="font-size:20pt">Actors Housing   
        <a>
          <a>
            <button mat-flat-button color ="accent" routerLink="/home">Home</button>
        </a> |
          <a>
            <button mat-flat-button color ="accent" routerLink="/login">Login</button>
          </a>
          <a> |
            <button mat-flat-button color ="accent" routerLink="/registration">Register</button>
          </a>
        </a>
      </span>
    </mat-toolbar>
  <router-outlet></router-outlet>
  </body>  