<body>
  <h2>Register</h2>
    <form [formGroup]="requiredForm" novalidate>
      <div class="form-group">
        <label class="center-block">First name:
          <input class="form-control" formControlName="first_name" placeholder="First Name">
        </label>
      </div>
  <div *ngIf="requiredForm.controls['first_name'].invalid && (requiredForm.controls['first_name'].dirty || requiredForm.controls['first_name'].touched)" class="alert alert-danger">
    <div *ngIf="requiredForm.controls['first_name'].errors?.['required']" class="message">
          First name is required.
    </div>
  </div>

    <div class="form-group">
      <label class="center-block">Last name:
        <input class="form-control" formControlName="last_name" placeholder="Last Name">
      </label>
    </div>
    <div *ngIf="requiredForm.controls['last_name'].invalid && (requiredForm.controls['last_name'].dirty || requiredForm.controls['last_name'].touched)" class="alert alert-danger">
      <div *ngIf="requiredForm.controls['last_name'].errors?.['required']" class="message">
          Last name is required.
      </div>
    </div>

    <div class="form-group">
      <label class="center-block">User Email:
          <input class="form-control" type="email" formControlName="email" placeholder="User Email">
      </label>
    </div>
    <div *ngIf="requiredForm.controls['email'].invalid && (requiredForm.controls['email'].dirty || requiredForm.controls['email'].touched)" class="alert alert-danger">
      <div *ngIf="requiredForm.controls['email'].errors?.['required']" class="message">
        User email is required.
      </div>
    </div>

    <div class="form-group">
      <label class="center-block">Union ID:
        <input class="form-control" type="number" formControlName="unionid" placeholder="Union ID">
      </label>
    </div>
    <div *ngIf="requiredForm.controls['unionid'].invalid && (requiredForm.controls['unionid'].dirty || requiredForm.controls['unionid'].touched)" class="alert alert-danger">
      <div *ngIf="requiredForm.controls['unionid'].errors?.['required']" class="message">
        Union ID is required.
      </div>
    </div>

    <div class="form-group">
      <label class="center-block">Password:
        <input class="form-control" type="password" formControlName="password" placeholder="Password">
      </label>
    </div>
    <div *ngIf="requiredForm.controls['password'].invalid && (requiredForm.controls['password'].dirty || requiredForm.controls['password'].touched)" class="alert alert-danger">
      <div *ngIf="requiredForm.controls['password'].errors?.['required']" class="message">
        Password is required.
      </div>
    </div>

    <div class="form-group">
      <label class="center-block">Confirm Password:
        <input class="form-control" type="password" formControlName="confirmpassword" placeholder="Confirm Password">
      </label>
    </div>
    <div *ngIf="requiredForm.controls['confirmpassword'].invalid && (requiredForm.controls['confirmpassword'].dirty || requiredForm.controls['confirmpassword'].touched)" class="alert alert-danger">
      <div *ngIf="requiredForm.controls['confirmpassword'].errors?.['required']" class="message">
        Must confirm password.
      </div>
    </div>
  </form>

  <p>
    <button (click)="onSubmit()" mat-flat-button color ="accent" routerLink="/user">Submit</button>
  </p>
  <!-- <p>Form value: {{ requiredForm.value | json }}</p>
  <p>Form status: {{ requiredForm.status | json }}</p> -->
</body>