<body>
  <h2>Listings</h2>
  <p>Add a Listing Here!</p>
  
  <input [(ngModel)]="state" class="form-control" type="text" placeholder="State" required> |
  <input [(ngModel)]="city" class="form-control" type="text" placeholder="City" required> |
  <input [(ngModel)]="street" class="form-control" type="text" placeholder="Street" required> |
  <input [(ngModel)]="unit" class="form-control" type="text" placeholder="Unit" required> |
  <input [(ngModel)]="zipcode" class="form-control" type="text" placeholder="Zip-Code" required> |
  <input [(ngModel)]="price" class="form-control" type="text" placeholder="Price" required> <p></p>
  <button (click)="addListing()">Add Listing</button>
  
  <br>
  <br>
  
  <p>My Current Listings</p>
  <div *ngFor="let userListings of Listings">
      {{ userListings.state }}  
      {{ userListings.city }} 
      {{ userListings.street }} 
      {{ userListings.unit }} 
      {{ userListings.zipcode }} 
     ${{ userListings.price }}
      <br>
  </div>
  
    <p>
      <a routerLink="/home">View available listings</a>
   </p>  
</body>


