<h2>Register</h2>

<div>
    <p>
        <input formControlName="first_name" class="form-control" placeholder="First Name" required>
    </p>
    <p>
        <input formControlName="last_name" class="form-control" placeholder="Last Name" required>
    </p>
    <p>
        <input formControlName="email" type="email" class="form-control" placeholder="Email" required>
    </p>
    <p>
        <input formControlName="number" type="number" class="form-control" placeholder="Union Number" required>
    </p>
  <p>
    <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
  </p>
    <p>
    <input formControlName="password_confirm" type="password" class="form-control" placeholder="Password Confirm"
           required>
    </p>



  <p>
    <button mat-flat-button color ="warn" routerLink="/user">Submit</button>
  </p>


<p>

</p>

</div>
