<div class="skyline"></div>
<body>
    <table>
        <th>Popular Neighborhood's in New York</th>
        <tr>
            <a routerLink="/home">Brooklyn</a>
        </tr>
        <tr>
            <a routerLink="/home">Chelsea</a>
        </tr>
        <tr>
            <a routerLink="/home">Chinatown</a>
        </tr>
        <tr>
            <a routerLink="/home">Greenwich Village</a>
        </tr>
        <tr>
            <a routerLink="/home">Harlem</a>
        </tr>
        <tr>
            <a routerLink="/home">Long Island City</a>
        </tr>
        <tr>
            <a routerLink="/home">Manhattan</a>
        </tr>
        <tr>
            <a routerLink="/home">Queens</a>
        </tr>
        <tr>
            <a routerLink="/home">SoHo</a>
        </tr>
        <tr>
            <a routerLink="/home">Upper East Side</a>
        </tr>
      </table>
      <th>Available Listing's in New York</th>
      <div *ngFor="let allListings of Listings">
        {{ allListings.state }}  
        {{ allListings.city }} 
        {{ allListings.street }} 
        {{ allListings.unit }} 
        {{ allListings.zipcode }} 
       ${{ allListings.price }}
        <br>
    </div>
      <br>
    <br>
    </body>