<p>Explore Available Listings in New York </p>

<table>
    <th>Search Listings by Area</th>
    <tr>
        <a routerLink="/home">Brooklyn</a>
    </tr>
    <tr>
        <a routerLink="/home">Chelsea</a>
    </tr>
    <tr>
        <a routerLink="/home">Greenwich Village</a>
    </tr>
    <tr>
        <a routerLink="/home">Manhattan</a>
    </tr>
    <tr>
        <a routerLink="/home">Queens</a>
    </tr>
    <tr>
        <a routerLink="/home">Upper East Side</a>
    </tr>
    <tr>
        <a routerLink="/home">Upper West Side</a>
    </tr>
  </table>

  <br>

<br>
