body, html {
    margin-left: 1%;
    height: 100%;
    background-color: aliceblue;

  }
  .skyline {
    background-image: url(../../../../frontend/images/nycSkyLine.webp);
    height: 35%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}
th{
    font-size: large;
}