<p>Explore Available Listings in New York </p>

<table>
    <th>Search Listings by Area</th>
    <tr>
        <a routerLink="/listings">Brooklyn</a>
    </tr>
    <tr>
        <a routerLink="/listings">Chelsea</a>
    </tr>
    <tr>
        <a routerLink="/listings">Greenwich Village</a>
    </tr>
    <tr>
        <a routerLink="/listings">Manhattan</a>
    </tr>
    <tr>
        <a routerLink="/listings">Queens</a>
    </tr>
    <tr>
        <a routerLink="/listings">Upper East Side</a>
    </tr>
    <tr>
        <a routerLink="/listings">Upper West Side</a>
    </tr>
  </table>

  <br>

<br>
